<!DOCTYPE html>
<html ng-app="App">

<head>
  <base href="/">
  <meta charset="UTF-8">
  <title>CSRF - DSC Log-in</title>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="/public/js/app.js"></script>
  <script src="/public/js/appConfig.js"></script>
  <script src="/public/js/ctrlLogin.js"></script>
</head>

<body ng-controller="ctrlLogin">
  <div class="login-card">
    <h1>Log-in</h1>
    <br>
    <form>
      <input type="text" name="user" placeholder="enter username here" ng-model="user.name">
      <br>
      <br>
      <input type="password" name="password" placeholder="enter password here" ng-model="user.password">
      <br>
      <br>
      <button name="login" ng-click="checkValidUser()">Login</button>
    </form>
    <br>
  </div>
</body>

</html>